:root {
  --white: #fff;
  --black: #1C1D24;
  --pink1: #ffa7c4;
  --pink2: #DE1B85;
  --pink2light: #de1b8666;
  --blue1: #0072bb;
  --yellow1: #fff000;
  --yellow2: #f5deb3;
  --red1: #c62828;
}

$palette: (
  light: (
    --bg1: #fff,
    --bg2: #fafafa,
    --bg3: #fcfcfc,
    --bg4: #f8f8f8,
    --invert1: #282c35,
    --invert2: #f9ffee,
    --text-color: #1C1D24,
    --link: var(--text-color),
    --post-content-link: #d32f2f,
    --subtle-top1: #8e2de2,
    --subtle-top2: #4a00e0,
    --subtle-h1-1: #1b1aff,
    --subtle-h1-2: #00009e,
    --subtle-h1-3: #9900ff,
    --header-h2: #7f00ff,
    --hover-top: #fff000,
    --hover-top-icon: #4a00e0,
    --post-card-hover: #00000030,
    --category-border: #757575,
    --category-bg: #d3dde6,
    --box-shadow1: #d9d9d9,
    --box-shadow2: #fff,
    --tag-border: #00000020,
    --warning: #e75b7e,
    --info: #6200ee
  ),
  dark: (
    --bg1: #282c35,
    --bg2: #181c22,
    --bg3: #1a1d24,
    --bg4: #000,
    --invert1: #f9ffee,
    --invert2: #282c35,
    --text-color: #f9ffee,
    --link: var(--yellow2),
    --post-content-link: var(--yellow2),
    --subtle-top1: #8e2de2,
    --subtle-top2: #4a00e0,
    --subtle-h1-1: #a7ffeb,
    --subtle-h1-2: #1de9b6,
    --subtle-h1-3: #00bfa5,
    --header-h2: #af6cff,
    --hover-top: #fff000,
    --hover-top-icon: #4a00e0,
    --post-card-hover: #00000050,
    --category-border: var(--yellow1),
    --category-bg: var(--black),
    --box-shadow1: #00000060,
    --box-shadow2: #00000020,
    --tag-border: #ffffff20,
    --warning: #ffc400,
    --info: #009688
  )
);
