@import "../../layout/style/base/setting";

.post-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  > li > a {
    margin-top: $spacing-small;
    margin-right: $spacing-small;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 0 $spacing-xsmall var(--tag-border);
    transition: all $transition-faster-easein;
    // font-size: 14px;
    &:hover {
      color: var(--yellow2);
      background: var(--hover-top-icon);
      box-shadow: 0 0 $spacing-large var(--tag-border);
    }
  }
}
